@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Manrope:wght@200..800&family=Teko:wght@300..700&display=swap");

:root {
  --color-principal: #b22222; /* Color Principal */
  --color-contraste: #f7f6f0; /* Contraste fondo */
  --color-footer: #8a1a1ad9; /* Color footer */
}
* {
  margin: 0;
  font-family: "Teko", Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  background-color: #f9f2d9;
  min-height: 100vh;
}
/* IDIOMA */

.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 30px;
  justify-self: flex-end;
}

/* banderas */
.select-options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

/* Estilos de los elementos de la lista */
.select-options li {
  display: none;
  padding: 5px;
  cursor: pointer;
}

/* La bandera seleccionada se muestra */
.select-options li.active {
  display: block;
}

.select-options li img,
.select-options li span {
  width: 15px;
  height: auto;
}

/* HEADER-LOGO */
header {
  grid-area: header;
  border: none;
  background: transparent;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  z-index: 1;
  padding: 5px;
}
.titulo-contraste {
  color: var(--color-principal);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
}
.logo img {
  margin-left: 10px;
  max-height: 2.5rem;
  max-width: 2.5rem;
}
a[href="index.html"] {
  text-decoration: none;
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}
a[href="index.html"].logo h1:hover {
  text-decoration: underline;
  animation-duration: 1000ms;
}
#navegacion li.inicioLink a {
  color: var(--color-principal);
}
#navegacion li.inicioLink :hover {
  text-decoration: underline white;
}
.fa-house {
  margin-right: 5px;
}

/* MAIN */
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}
/* FOOTER */
footer {
  background-color: var(--color-footer);
  color: var(--color-contraste);
  width: 100%;
  height: 8rem;
  grid-area: footer;
  display: grid;
  bottom: 0;
  grid-template-areas:
    "social contacto pagos"
    "copy copy copy";
  z-index: 1;
  font-family: "Lato", serif !important;
}

#pagos {
  grid-area: pagos;
  text-align: center;
  align-self: center;
}
#contacto {
  grid-area: contacto;
  text-align: center;
}
#contacto p,
#contacto address,
#contacto a {
  font-weight: 100 !important;
}
#social {
  grid-area: social;
  text-align: center;
  align-self: center;
}
#copy {
  grid-area: copy;
  text-align: center;
  align-self: end;
  padding-top: 10px;
}
p#copy {
  font-size: 0.8rem;
  font-weight: 100 !important;
}

footer a {
  text-decoration: none;
  color: var(--color-contraste);
}
footer i {
  cursor: pointer;
}

@media (max-height: 1024px) {
  footer div {
    padding-top: 0px;
  }
}

@media (max-width: 600px) {
  header {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
  }

  .logo,
  #navegacion {
    grid-column: 1;
  }

  .custom-select {
    grid-row: 1 / 3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }

  footer {
    grid-template-areas:
      "copy contacto  pagos"
      "copy contacto social";
    height: 6rem;
  }
  #social h4,
  #pagos h4 {
    display: none;
  }
  #copy {
    align-self: center;
  }
}
